$body-bg: grey;

.card-columns {
	.card {
		&:hover {
			box-shadow: 5px 2px 5px 1px black;
			transition: all .5s;
		}
	}
}

.card-img-top {
	padding: 16px;
}

.scroll-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
